.archive{
    direction: rtl;
    
    
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* margin-right: 2rem;\ */
}

.archiveHead{
    width: 80%;

    /* آرشیو من */


font-family: 'IRANYekan';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 41px;
text-align: right;

/* Primary Color */
color: #00BA9F;


}

.archiveFiles{
    width: 80%;
}

.fileItems{
    display: flex;
    /* gap: 1rem; */
}

.fileItemsTitle{
    display: flex;
    justify-content: center;
    align-items: center;



    /* نام فایل */



font-family: 'IRANYekan';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: right;

color: #000000;





}

.fileItem{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 1rem;
}



.fileItemBackground{
    display: flex;
    justify-content: start;
    align-items: center;

    /* background-color: #F2F2F2; */

    padding-right: 1rem;


/* 
box-shadow: 1px 1px 50px rgba(99, 99, 99, 0.05);
border-radius: 25px; */


/* Back */


background: #FEFEFE;
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
border-radius: 10px;



}

.chainLogo{
display: flex;
justify-content: center;
align-items: center;
   
   
    border-radius: 100%;


    /* Back */

        /* padding: 0.5rem; */

background: #FF1654;

width: 31.29px;
height: 30.83px;
left: 1097px;
top: 363px;


}


.micLogo{
    display: flex;  
    justify-content: center;
    align-items: center;
       
       
        border-radius: 100%;
    
    
        /* Back */
    
            /* padding: 0.5rem 0.75rem; */
    
    background: #40C6B8;
    


    /* Back */


width: 31.29px;
height: 30.83px;
left: 1097px;
top: 363px;




    }

    
.uploadLogo{
        display: flex;
        justify-content: center;
        align-items: center;
           
           
            border-radius: 100%;
        
        
            /* Back */
        
                /* padding: 0.5rem; */
        
        background: #118AD3;

        width: 31.29px;
height: 30.83px;
left: 1097px;
top: 363px;

        
        }
        



.fileName{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    gap: 1rem;



    /* https://irsv.upmusics.com/Downloads/Musics/Sirvan%20K ... */


font-family: 'IRANYekan';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 28px;
/* identical to box height */
text-align: right;

/* color: #118AD3; */



}

.fileDescription{
    direction: ltr;
    display: flex;
    justify-content: start;
    align-items: center;

    overflow-x: hidden ;
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */

    width: 100%; /* Ensure the container has a constrained width */
    color: #000000;

    margin-left: 1rem;


}

.fileDescriptionRight{
    direction: rtl;
    display: flex;
    justify-content: start;
    align-items: center;

    overflow-x: hidden ;
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */

    width: 100%; /* Ensure the container has a constrained width */
    color: #000000;

    margin-left: 1rem;

}


.fileDescriptionUrl{

    direction: ltr;
    display: flex;
    justify-content: start;
    align-items: center;

    overflow-x: hidden ;
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */

    width: 100%; /* Ensure the container has a constrained width */

color: #118AD3;

margin-left: 1rem;

}



.fileDate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;



    /* 1400-08-21 */


font-family: 'IRANSansXFaNum' ;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 1px;
/* identical to box height */
text-align: center;

color: #000000;
opacity: 0.8;


}


.fileType{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;



    /* .mp3 */


font-family: 'IRANYekan';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;

direction: ltr;


}


.fileTime{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;


    /* 4:29 */



font-family: 'IRANSansXFaNum';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
/* identical to box height */
text-align: center;

color: #000000;

opacity: 0.8;





}



.fileActions{
    display: flex;
    justify-content: center;
    align-items: center;

    

    gap: 1.5rem;
    


    
}



.pagination{
    display: flex;
    justify-content: center;

    width: 80%;


    margin-top: 4rem;

    margin-bottom: 2rem ;

    /* align-items: center; */

    /* direction: rtl; */
    bottom: 0;
}

.a{
    background-color: #000000;


    direction: rtl;
}



.resultBody{
    /* width: 653px; */
    height: 429px;
    left: 989px;
    top: 285px;

}




.fileItemSelected{
    display: flex;
    flex-direction: column;

 


    /* Main Back */

box-sizing: border-box;

background: #FFFFFF;
/* Primary Color */
border: 1px solid #00BA9F;
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05);
border-radius: 10px;

padding: 2rem;

}


