.userType {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  border: 1.5px #00ba9f solid;
  width: fit-content;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 20px;
  margin-left: 1rem;

  /* Back */

  box-sizing: border-box;

  background: #fefefe;
}

.userTypeOne {
  display: flex;
  justify-content: start;
  align-items: center;

  height: max-content;
  width: 100%;
  gap: 0.5rem;

  /* flex-direction: row; */
}

.speechBody {
  direction: rtl;

  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.speechOverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 14rem;
  padding-right: 12rem;
}

.speechHead {
  direction: rtl;
  display: flex;
  width: 100%;
  justify-content: end;
}

/* تبدیل گفتار به متن */

.speechTitle {
  height: fit-content;
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;

  color: #00ba9f;
  text-align: center;
}

.speechDetails {
  /* آوا با استفاده از هزاران ساعت گفتار با صدای افراد مختلف، زبان فارسی را یاد گرفته است و می‌تواند متن صحبت‌ها را بنویسد. */

  height: fit-content;

  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;

  color: #969696;
}

.speechCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.cardHead {
  display: flex;
  /* width: 100%; */
  width: 653px;
  justify-content: start;
  /* right: 0; */
  /* gap: 2rem; */
}

.cardHeadItems {
  display: flex;
  width: 75%;
  justify-content: start;
  /* right: 0; */
  /* gap: 2rem; */
}
.cardHeadItem {
  color: #969696;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  width: 100%;
}

.cardHeadItemOne {
  color: #ffffff;
  background-color: #00ba9f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* padding-right: 2.5rem;
    padding-left: 2.5rem; */
  border-radius: 10px 10px 0px 0px;
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  width: 100%;
}

.cardHeadItemTwo {
  color: #ffffff;
  background-color: #118ad3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* padding-right: 2.5rem;
    padding-left: 2.5rem; */
  border-radius: 10px 10px 0px 0px;
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  width: 100%;
}

.cardHeadItemThree {
  color: #ffffff;
  background-color: #ff1654;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* padding-right: 2.5rem;
    padding-left: 2.5rem; */
  border-radius: 10px 10px 0px 0px;
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  width: 100%;
}

.cardBodyLink {
  /* Back Center */

  /* Back Center */

  box-sizing: border-box;

  width: 653px;
  height: 429px;
  left: 989px;
  top: 285px;

  background: #ffffff;
  border: 1px solid #ff1654;
  box-shadow: 1px 1px 50px rgba(99, 99, 99, 0.05);
  border-radius: 25px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */

  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBodyUpload {
  /* Back Center */

  box-sizing: border-box;

  width: 653px;
  height: 429px;
  left: 989px;
  top: 285px;

  background: #ffffff;
  border: 1px solid #118ad3;
  box-shadow: 1px 1px 50px rgba(99, 99, 99, 0.05);
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.cardBodyRecord {
  /* Back Center */

  box-sizing: border-box;

  width: 653px;
  height: 429px;
  left: 989px;
  top: 285px;

  background: #ffffff;
  /* Primary Color */
  border: 1px solid #00ba9f;
  box-shadow: 1px 1px 50px rgba(99, 99, 99, 0.05);
  border-radius: 25px 0px 25px 25px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */

  display: flex;
  justify-content: center;
  align-items: center;
}

.cardFoot {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  justify-content: end;
  width: 653px;
}

.footTitle {
  width: fit-content;

  /* زبان گفتار: */

  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: right;

  color: #626262;
}

.footItem {
  width: fit-content;

  /* فارسی */

  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  /* Primary Color */
  color: #00ba9f;
}

.langType {
  display: flex;

  align-items: center;
  gap: 1rem;
  border: 1px #00ba9f solid;
  width: fit-content;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 20px;
}

.uploadLogo {
  width: 62px;
  height: 62px;
  left: 632px;
  top: 437px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #118ad3;
}

.bodyDescriptionRecord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodyDescriptionUpload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recordLogo {
  /* Back */

  width: 62px;
  height: 62px;
  left: 632px;
  top: 437px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #00b3a1;
}

.linkLogo {
  /* Back */

  width: 40px;
  height: 30px;
  left: 517px;
  top: 453px;

  background: #ff1654;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.linkInputSection {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: fit-content;
    height: 62px;
    left: 632px;
    top: 437px; */
  /* padding-right: 1rem;
    padding-left: 1rem; */

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid;
  border-color: #ff1654;
  gap: 1rem;
  /* background: #00B3A1; */

  /* back */

  padding: 0 1rem;

  width: 40%;
  height: 46px;
  left: 499px;
  top: 444px;

  background: #ffffff;
}

.linkInput {
  /* example.com/sample.mp3 */

  /* width: fit-content; */
  width: 100%;
  height: 28px;
  left: 557px;
  top: 453px;

  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height */
  text-align: center;
  border: none;
  outline: none;
  direction: ltr;
  color: #626262;
}

.recordDescription {
  /* برای شروع به صحبت، دکمه را فشار دهید متن پیاده شده آن، در اینجا ظاهر شود */

  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;

  color: #626262;
}

.uploadDescription {
  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;

  color: #626262;

  padding-left: 7rem;
  padding-right: 7rem;
}
.userTypeItem {
  /* مهمان */

  font-family: "IRANYekan";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  /* identical to box height */

  /* Primary Color */
  color: #00ba9f;
}
