.buttonStyle {
  border: none;
  background: none;
  padding: inherit;
  margin: none;
  font: inherit;
  color: inherit;
  outline: none;
  cursor: pointer;
  display: inherit;
  gap: inherit;
  align-items: inherit;
  justify-content: inherit;

  width: 100%;
}

.pStyle {
  width: auto;
}

.ulStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.aStyle {
  text-decoration: none;
}

.linkStyle {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  gap: inherit;
}
